.graphic-widget {
    &.not-playing {
        outline: 1px solid green;
    }

    &.playing {
        outline: 1px solid red;
    }

    img {
        cursor: pointer;
    }
}

.graphic-attribution {
    font-size:0.75em;
    line-height: 1em;
}
